{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" href="{% static 'portfolio/main.css' %}" rel="stylesheet" />
  <link rel="icon" href="{% static 'portfolio/Images/logo.png' %}" />
  <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
  <title>Ismail Nijazi</title>
</head>
<body>
  <div class="navbar">
    <a href="#home-page" class="logo">
      <h3>ISMAIL<h3/>
    </a>
    <button class="navButton"><span class="iconify" data-icon="fa:bars"></span></button>
  </div>
  <nav class="hiddenNavbar">
    <ul>
      <li class="navLinks">
        <a href="#home-page"><span class="iconify" data-icon="ant-design:home-filled"></span><span class="page-name">Home</span></a>
      </li>
      <li class="navLinks">
        <a href="#about-page"><span class="iconify" data-icon="bx:bxs-user"></span><span class="page-name">About</span></a>
      </li>
      <li class="navLinks">
        <a href="#portfolio-page"><span class="iconify" data-icon="icon-park-outline:handbag"></span ><span class="page-name">Portfolio</span></a>
      </li>
      <li class="navLinks">
        <a href="#contact-page"><span class="iconify" data-icon="feather:mail"></span><span class="page-name">Contact</span></a>
      </li>
    </ul>
  </nav>
  {% block popupwindow %} {% endblock %}
  {% if messages %}
  {% for message in messages %}
	<div class="message">
		<h4>{{ message }}</h4>
  	</div>
  {% endfor %}
  {% endif %}
  <main>
    <div class="pages">
		<section id="Home">{% block homePage %}{% endblock %}</section>
	<section id="About">
		<div class="page-title">
			<h3>About <span class="coloredText">Me</span></h3>
			<p>More about me</p>
		</div>
		<article>
			<div class="my_image">
				<figure>
					<img
						src="{% static 'portfolio/Images/ME/PNG/colorful-smaller.png' %}"
						alt="Ismail Nijazi"
					/>
				</figure>
			</div>
			<div class="aboutText">
				<h3>About me</h3>
				<p>
					I am a software engineering student who is really passionate about building and learning new stuff that
					are possible with programming. I have good knowledge of front-end and backend technologies. <br><br>
					<span class="coloredText">For CV you can send me an email or send a message from contact page.</span>
				</p>
				<ul>
					<li><span>Name:</span>Ismail</li>
					<li><span>Email:</span>ismail.nijazi1@gmail.com</li>
					<li><span>Age:</span>21</li>
					<li><span>Language:</span>Swedish, English, Persian</li>
				</ul>
				<div class="skills">
					<h3>Skills</h3>
					<ul>
						<li>Python</li>
						<li>Javascript</li>
						<li>Django</li>
						<li>Django Rest framework</li>
						<li>React</li>
						<li>React Native</li>
						<li>Redux</li>
						<li>HTML, CSS</li>
						<li>Sass</li>
						<li>Git</li>
						<li>Firebase</li>
						<li>Working with APIs</li>
					</ul>
				</div>
				<a href="#contact-page" class="btn">Contact Me</a>
			</div>
		</article>
	</section>
	<section id="Portfolio">
		{% block projects %}{% endblock %}
	</section>
	<section id="ContactPage">
		{% block contacts %}{% endblock %}
	</section>
		</div>
</main>
  <script type="text/javascript" src="{% static 'portfolio/script.js' %}"></script>
</body>

</html>